@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	color: #323232;
	font-size: 10px;
}

.app {
	display: block;
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px 0;
}

#calendar-template, .calendar-days, .calendar-info {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 10px;
}

.calendar-info > div {
	display: table-cell;
	text-align: center;
	font-size: 2.5rem;
	position: relative;
	padding: 0 35px;
}

.calendar-days > div {
	display: table-cell;
	text-align: center;
	height: 20px;
	font-size: 1.4rem;
	font-weight: 500;
	position: relative;
}

.calendar-days > div::after {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.calendar-days > div:nth-child(1)::after {
	content: "Monday";
}

.calendar-days > div:nth-child(2)::after {
	content: "Tuesday";
}

.calendar-days > div:nth-child(3)::after {
	content: "Wednesday";
}

.calendar-days > div:nth-child(4)::after {
	content: "Thursday";
}

.calendar-days > div:nth-child(5)::after {
	content: "Friday";
}

.calendar-days > div:nth-child(6)::after {
	content: "Saturday";
}

.calendar-days > div:nth-child(7)::after {
	content: "Sunday";
}

#calendar-template .calendar-row {
	display: table-row;
}

#calendar-template .calendar-unit {
	display: table-cell;
}

#calendar-template .calendar-unit > div {
	text-align: center;
	background: #3498DB;
	border-radius: 10px;
	padding-bottom: 100%;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	transition: 300ms background;
}


#calendar-template .calendar-unit > div.calendar-blank {
	opacity: 0;
}

#calendar-template .calendar-unit > div > div {
	position: absolute;
	right: 6%;
	bottom: 6%;
	color: #fff;
	font-size: 1.8rem;
}

#calendar [data-nav] {
	position: absolute;
	border-style: solid;
	border-color: #3498DB;
	border-width: 0 2px 2px 0;
	border-radius: 0 0 4px 0;
	width: 20px;
	height: 20px;
	top: 50%;
	cursor: pointer;
}
#calendar [data-nav="left"] {
	left: 10px;
	transform: translateY(-50%) rotate(135deg);
}
#calendar [data-nav="right"] {
	right: 10px;
	transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 600px) {
	html, body {
		font-size: 7.5px;
	}
}

@media (max-width: 450px) {
	.calendar-days > div:nth-child(1)::after {
		content: "Mon";
	}

	.calendar-days > div:nth-child(2)::after {
		content: "Tues";
	}

	.calendar-days > div:nth-child(3)::after {
		content: "Wed";
	}

	.calendar-days > div:nth-child(4)::after {
		content: "Thurs";
	}

	.calendar-days > div:nth-child(5)::after {
		content: "Fri";
	}

	.calendar-days > div:nth-child(6)::after {
		content: "Sat";
	}

	.calendar-days > div:nth-child(7)::after {
		content: "Sun";
	}	
}